:root {
    --color_text: #ecd8ba;
    --copper: #D2945B;
    --melo: #d16d4f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

body {
    background-image: url(../img/photo-1550684376-efcbd6e3f031.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    padding: 0.2rem;
}

.img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 1.2rem;
    font-size: 14rem;
    color: var(--color_text);
}

h1 u {
    text-decoration-color: var(--color_text);
}

h2 {
    font-family: "Jersey 15", sans-serif;
    color: var(--color_text);
    font-size: 5.2rem;
    margin-bottom: 3rem;
}

h2 span {
    font-style: italic;
    text-decoration: underline;
}

h3 {
    font-family: "Jersey 15", sans-serif;
    letter-spacing: 0.4rem;
    color: var(--color_text);
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

.ferrite {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6rem 6rem 3.4rem;
    padding: 2rem 4rem;
}

footer p img {
    width: 4rem;
}

.aaa :hover{
    transform: scale(1.14);
    transition: transform 0.3s;
}

.a {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.4rem 1.8rem 0.4rem;
    border: solid 0.3rem var(--copper);
    border-radius: 0.6rem;
    background: linear-gradient(90deg, #ecd8ba 0%, #D2945B 50%, #d16d4f 100%);
    gap: 1rem;
    text-decoration: none;
    color: black;
}

.hola {
    text-decoration: none;
}

.Optifine {
    width: 220px;
}

.ico {
    width: 8rem;
    fill: #ecd8ba;
}

figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
}

.forge :hover {
    transform: scale(1.01);
    transition: transform 0.3s;
}

figcaption {
    color: white;
    font-size: 1.7rem;
}

p, li {
    font-family: "jersey 15", sans-serif;
    font-size: 3rem;
    color: var(--color_text);
}

ol li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

ul {
    margin-left: 2rem;
}

ol {
    margin-left: 2rem;
}

.colorfondo {
    margin: 8rem 14rem 4rem;
    padding: 6rem;
}

.container1 {
    display: flex;
    margin: 0rem 2rem 0rem;
    gap: 3rem;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin: 8rem 2rem 0rem;
}

.art1 {
    margin: 4rem 0rem 0rem;
}

hr {
    background-color: var(--melo);
    border-color: var(--melo) ;
    border-radius: 2rem;
    height: 0.9rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}

img {
    width: 30rem;
    border-radius: 0.6rem;
}

article div img {
    width: 17rem;
}

article p {
    padding: 1.2rem;
}

:target {
    transition: transform 0.3s box-shadow 0.3s;
}

.group {
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.group p {
    text-align: center;
    font-size: 2rem;
}

.min-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.jei {
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jei img {
    width: 18rem;
    height: 18rem;
}

.jei p {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
}

.jei-son {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    gap: 1.4rem;
}

.journeymap {
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.journeymap img {
    width: 18rem;
    height: 18rem;
}

.journeymap p {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
}

.journey-son {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    gap: 1.4rem;
}

.jade {
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jade img {
    width: 18rem;
    height: 18rem;
}

.jade p {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
}

.jade-son {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    gap: 1.4rem;
}

.rend {
    width: 2rem;
}

/* IMPORTED ELEMENTS */ 
.material-symbols-outlined { /*FIRST icon "home" */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 5rem;
}

.boot {
    width: 5rem;
    height: 5rem;
}

.material-symbols-outlined { /*THIRD icon "drv" */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 5rem;
}

.jersey-10-regular { /* GOOGLE FONT (TITLE) */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jersey-15-regular {/* GOOGLE FONT (TEXT) */
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* END IPORTED ELEMENTS*/ 
  

@media (max-width:425px) {
    body {
        background-image: url(../img/600px.jpg);
    }

    html {
        width: fit-content;
    }

    h1 u {
        font-size: 7rem;
        letter-spacing: 0.3rem;
    }

    * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main p {
        font-size: 3rem;
    }

    .group {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .group p {
        padding: 1rem;
        font-size: 2.7rem;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header img {
        width: 14rem;
        height: auto;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 0.4rem;
    }

    .material-symbols-outlined { /* HOME */
        color: aqua;
        font-size: 6rem;
    }

    .boot { /* SECOND ICON */
        font-size: 6rem;
    }

    .material-symbols-outlined { /* THIRD ICON */
        color: aqua;
        font-size: 6rem;
    }

    .aaa {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 3.4rem;
    }

    hr {
        width: 46rem;
        height: 0.8rem;
    }

    .boot {
        width: 6rem;
        height: 6rem;
    }

    nav .a p {
        font-size: 2.8rem;
        text-align: center;
    }

    .aaa {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        gap: 6rem;
    }

    .a {
        padding: 0.3rem 0.4rem 0.3rem;
    }

    figcaption {
        font-size: 2.2rem;
    }

    .colorfondo {
        margin: 0;
    }


    .jei div p, .journeymap div p, .jade div p {
        font-size: 3.4rem;
    }

    .journeymap {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:768px) and (min-width:426px) {

    header a img {
        width: 24rem;
        height: 17rem;
    }

    header h1 {
        font-size: 10rem;
    }

    nav {
        margin: 4.4rem 6rem 3.4rem;
        padding: 2rem 2rem;
        gap: 5rem;
    }

    .a {
        padding: 0.4rem 0.4rem 0.4rem;
    }

    .a p {
        font-size: 2rem;
    }

    .colorfondo {
        margin: 6rem 6rem 4rem;
        padding: 4rem;
    }

    .container1 {
        display: flex;
        flex-direction: column;
    }

    figure {
        text-align: center;
        display: inline-block;
    }

    article div img {
        width: 12rem;
    }

    .min-container {
        gap: 0.8rem;
    }

    .group p {
        font-size: 1.6rem;
        padding: 0;
    }
    
    .ferrite {
        font-size: 2.7rem;
        text-align: center;
    }

    .group h3 {
        font-size: 2.8rem;
    }

    .group img {
        width: 10rem;
        height: 10rem;
    }

    .jei {
        display: flex;
        flex-direction: column;
    }

    .journeymap {
        display: flex;
        flex-direction: column;
    }

    .jade {
        display: flex;
        flex-direction: column;
    }

}


@media (max-width:960px) and (min-width:769px) {
    body {
        background-image: url(../img/1024.jpg);
    }

    header a img {
        width: 28rem;
        height: 20rem;
    }

    h1 u {
        font-size: 12rem;
    }

    .aaa {
        margin-top: 4rem;
        display: flex;
        justify-content: space-evenly;
    }

    .a p {
        font-size: 2.4rem;
    }

    nav a span {
        color: blue;
    }

    .container1 {
        display: flex;
        flex-direction: column;
    }
    
    article div img {
        width: 14rem;
    }

    figure {
        display: flex;
        text-align: center;
    }


    .min-container {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        gap: 2rem;
    }

    .group p {
        padding: 0;
    }

    .colorfondo {
        margin: 7rem 6rem 4rem;
        padding: 4rem;
    }

    .a {
        padding: 0.8rem;
    }

    .jei {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

    .journeymap {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

    .jade {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
    }

}

@media (min-width:1024px) and (max-width:1440px) {
    body {
        background-image: url(../img/photo-1550684376-efcbd6e3f031.jpg);
    }

    .material-symbols-outlined { /* HOME */
        color: red;
    }

    .material-symbols-outlined {
        color: red;
    }

    .a {
        padding: 1rem;
    }

    .a p {
        font-size: 2.4rem;
    }

    .aaa {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    .colorfondo {
        margin: 0;
    }

    .min-container {
        padding: 0.1rem;
        gap: 0.1rem;
    }

    .group p {
        padding: 0.3rem;
        font-size: 2.6rem;
    }

}

